.ShowStudent{
    background-color: aquamarine;
    border:3px solid green;
}
.TableName{
    font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
}
.TableName td, .TableName th{
    border: 1px solid #ddd;
  padding: 8px;
}

.TableName tr:nth-child(even){
    background-color: #f2f2f2;
}

.TableName tr:hover {
    background-color: #ddd;
}

.TableName th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }